
<!DOCTYPE >
<html lang='vi'>
    <head>
        <title>Home of Effect JavaScript</title>
        <link rel="stylesheet" type="text/css" href = "/CSS/Home.css">
    </head>
    <body>
        <form action="/upload" method="POST">
            <input type="file" name="file" id="file"> <br/>
            <input type="submit" value="Gửi file">
        </form>
    </body>
</html>